.welcome-container {
  margin: 0px, auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: white;
}

.welcome-wrapper {
  display: flex;
  flex-direction: row;
  gap: 160px;
  justify-content: center;
  background-color: white;
  margin-top: 160px;
  margin-bottom: 160px;
  height: 500px;
  max-width: 1046px;
}

.welcome-bullit-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.welcome-bullit-text {
  font-size: larger;
  text-align: center;
}
