.calendar-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #eac7ff;
}

.year-month-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  font-weight: 1;
  font-style: normal;
  font-size: 25pt;
}

.month,
.year {
  margin-left: 10px;
}
.previous-next-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.previous-btn,
.next-btn {
  margin-right: 10px;
  background: none;
  border: none;
  padding: 0;
  transform: scale(0.67);
  cursor: pointer;
}

.today-btn {
  outline: none;
  box-shadow: none;
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  border: #364351;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 25px;
  background-color: #fafafa;
  color: #364351;
}

.today-btn:hover {
  outline: none;
  border-color: #364351;
  box-shadow: none;
  transform: scale(1.1);
  background-color: #efff9e;
  color: #364351;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
