.profile-page-container {
  margin: 0 auto;
  max-width: 1160px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-big-container {
  min-height: 695.5px;
  margin: 40px 20px 20px 20px;
  margin-left: 20px;
  flex: 1;
}

.calendar-placeholder {
  margin: 40px 20px 20px 20px;
  border-radius: 12px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #364351; /* Упрощенная запись для стиля границы */
  height: fit-content;
  min-width: 840px;
}
.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
