.profile-card {
  min-width: 600px;
  border-style: solid;
  border-width: 1px;
  border-color: #364351;
  overflow: hidden;
  border-radius: 12px;
}

.user-data-container {
  color: black;
}

.ant-card-body {
  background-color: #eff2f7;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avatar-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.ant-avatar .ant-avatar-circle {
  width: 100px;
  height: 100px;
}
.ant-card .ant-card-head {
  background-color: #eac7ff;
}

.ant-form .ant-form-vertical {
  width: 600px;
}

.ant-form-item .ant-form-item-label > label {
  color: #fafafa; /* Задаем новый цвет текста */
}

.kids-list {
  margin-left: 20px;
}
