#root {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}
.swiper-container {
  position: relative;
  margin: 0px, auto;
  max-height: 860px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eff2f7;
  min-height: 300px;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1160px;
  min-width: 1120px;
  min-height: 300px;
  margin: 0px;
  padding: 0px;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  height: 800px;
  max-width: 1160px;
  min-width: 1120px;
  min-height: 400px;
}

.swiper-slide img:hover {
  transform: scale(1.05);
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.append-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 25px;
}

.append-buttons button {
  text-decoration: none;
  margin-top: 20px;
  padding: 14px 16px;
  border: #364351;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 25px;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff2f7;
  transition: 0.1s;
  cursor: pointer;
}

.append-buttons .prepend-slide {
  border-radius: 25px;
  width: 60px;
}

.append-buttons .slide-500 {
  border-radius: 25px;
  width: 60px;
}

.append-buttons .slide-250 {
  border-radius: 25px;
  width: 60px;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.slide h3 {
  margin: 10px 0 5px;
  font-size: 16px;
}

.slide p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

/* новое */
.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 16px;
  gap: -10px;
  height: 100%;
}

.swiper-slide img {
  border-radius: 8px;
  width: auto;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px; /* Отступ между изображением и текстом */
}

.swiper-slide .swiper-title {
  font-size: 20px;
  font-weight: bold;
  color: #364351;
  margin: 10px 0 5px;
}

.swiper-slide .swiper-description {
  font-size: 14px;
  color: #666;
  overflow: scroll;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.swiper-pagination-bullets,
.swiper-button-prev,
.swiper-button-next {
  color: #eac7ff;
  position: absolute;
  bottom: 10px; /* Позиционирование снизу */
}

.navigation-buttons {
  position: absolute;
  bottom: 10px; /* Позиционируем внизу */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 100%; /* Адаптируем ширину */
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 10; /* Убедимся, что кнопки видны поверх других элементов */
}

.append-buttons button {
  cursor: pointer;
  border: 1px solid #364351;
  color: #364351;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 5px; /* Уменьшим расстояние между кнопками */
}

.prepend-slide btn {
  border-radius: 25px;
}
