.calendar-grid-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 40px repeat(5, 1fr);
  /* border-radius: 12px; */
  box-sizing: border-box;
  overflow: hidden;
  background-color: #364351;
}
.calendar-day {
  height: 160px;
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  border-right: 1px solid #eff2f7;
  border-bottom: 1px solid #eff2f7;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* подсвечиваем текущий день */
.date-number-highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efff9e;
  color: #364351;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.weekday-calendar-day {
  height: 40px;
  width: 220px;
  display: flex;
  justify-content: flex-end;
  color: #eff2f7;
  border-right: 1px solid #eff2f7;
  border-bottom: 1px solid #eff2f7;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.calendar-day-add-btn {
  height: 20px;
  width: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* модальное окно */
.ant-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.radio-set {
  border: none;
}
.input-label,
.radio-set,
.checkbox-set,
.radio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* стили для коротких событий */
.short-events-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  margin-top: 20px;
}
.short-event {
  width: 160;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

.short-event-on-hover {
  width: 160;
  box-sizing: border-box;
  overflow: hidden;
}
.short-event-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 2px;
  gap: 5px;
  overflow: hidden;
  width: 160px;
  height: 30px;
  border-style: solid;
  border-color: #364351;
  border-radius: 12px;
  background-color: #eff2f7;
  color: #364351;
}
