.bullets-container {
  z-index: 0;
  position: relative;
  margin: 0px, auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: white;
}

.bullets-wrapper {
  display: flex;
  flex-direction: row;
  gap: 120px;
  justify-content: center;
  background-color: white;
  margin-top: 160px;
  margin-bottom: 160px;
  height: 500px;
  max-width: 1160px;
}

.bullet-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.bullet-text {
  font-size: larger;
  text-align: center;
}
