.register {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: linear-gradient(135deg, #0a1172 0%, #6a1b9a 100%);
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.header-text {
  font-family: 'Onest', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

form {
  padding: 20px;
  background-color: #495057;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group input,
.input-group select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  background-color: #6c757d;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.form-group label {
  color: #fff;
}

.input-group input::placeholder,
.input-group select {
  color: #dee2e6;
}

.form-btn-wrapper {
  text-align: center;
}

.btn-primary {
  width: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #ffd700;
}
